[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    background-color: initial;
    width: 170px;
    height: 36px;
    border-radius: 2px;
}

[data-theme='3'] .select {
    border-color: #C2C2C2;
    color: #C2C2C2;
}
