.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.responseContainer {
    display: flex;
    gap: 94px;
    align-items: center;
}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 15px;
}

.text {

    font-size: 16px;
    line-height: 20px;
}
.info {
}