.friendMessage {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    padding-top: 120px;
}

.friendImageAndText {
    display: flex;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    align-self: flex-end;
}

.friendText {
    position: relative;
    padding-left: 25px;
    margin-left: 20px;
    width: 414px;
    height: 60px;
    background: #F5F7FB;
    border-radius: 8px;
    border-bottom-left-radius:  unset;
}

.friendText:after {
    content:"";
    position:absolute;
    z-index:2;
    border: 9px solid transparent; border-right: 9px solid #F5F7FB; border-bottom: 9px solid #F5F7FB;
    left: -18px;
    bottom: 0;
}

.friendName {
    padding-top: 7px;
    font-weight: 600;
}

.friendMessageText {
    font-family: 'Montserrat';
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    padding-top: 5px;
    padding-left: 10px;
}
